<ion-header>
  <ion-navbar>
    <ion-title>Visualizador de PDF desde base64</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item no-lines no-padding>
      <ion-icon *ngIf="gettingPdf" name="square-outline" item-left></ion-icon>
      <ion-icon *ngIf="gotPdf" name="checkbox-outline" item-left></ion-icon>
      PDF como <i>string</i> en base 64
      <ion-spinner item-end *ngIf="gettingPdf">
      </ion-spinner>
    </ion-item>
    <ion-item no-lines no-padding>
      <ion-icon *ngIf="!writtenPdf" name="square-outline" item-left></ion-icon>
      <ion-icon *ngIf="writtenPdf" name="checkbox-outline" item-left></ion-icon>
      PDF escrito como archivo PDF
      <ion-spinner item-end *ngIf="writingPdf">
      </ion-spinner>
    </ion-item>
    <div text-wrap style="font-size: small;" *ngIf="writtenPdf">
      {{ fileLoc }}
    </div>
  </ion-list>
  <button ion-button block icon-left (click)="writePdf()" [disabled]="!gotPdf"
    *ngIf="!writtenPdf">
    <ion-icon name="create"></ion-icon>
    Escribir PDF
  </button>
  <button ion-button block icon-left (click)="openPdf()" *ngIf="writtenPdf"
    color="danger">
    <ion-icon name="eye"></ion-icon>
    Ver PDF
  </button>
</ion-content>
